@font-face {
  font-family: "avenir-bold";
  src: url(../../../assets/fonts/AvenirNextLTPro-Bold.eot),
    url(../../../assets/fonts/AvenirNextLTPro-Bold.otf)
      url(../../../assets/fonts/AvenirNextLTPro-Bold.ttf)
      url(../../../assets/fonts/AvenirNextLTPro-Bold.woff)
      url(../../../assets/fonts/AvenirNextLTPro-Bold.woff2);
  font-family: 400;
  font-style: normal;
}
