@use "../utilities/var" as *;
@mixin mobile {
  @media screen and (max-width: $mobile-size-mx) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-size-m) and (max-width: $tablet-size-mx) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-size-m) {
    @content;
  }
}

@mixin hero($url, $height, $width) {
  background-image: linear-gradient(rgba($opacity, 50%), rgba($opacity, 50%)),
    url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: $height;
  width: $width;
}
