@use "../utilities/font" as *;
// colors
$transparent-black: #323232;
$silver: #afafaf;
$opacity: #323232;
$white: #ffffff;
// secundary colors
$dark-black: #000000;
$mercury: #e1e1e1;
$weird-white: #fafafa;

// screen sizes
$mobile-size-m: 320px;
$mobile-size-mx: 767px;
$tablet-size-m: 768px;
$tablet-size-mx: 1279px;
$desktop-size-m: 1280px;
