@font-face {
  font-family: "avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Bold.eot), url(../../../assets/fonts/AvenirNextLTPro-Bold.otf) url(../../../assets/fonts/AvenirNextLTPro-Bold.ttf) url(../../../assets/fonts/AvenirNextLTPro-Bold.woff) url(../../../assets/fonts/AvenirNextLTPro-Bold.woff2);
  font-family: 700;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Demi.eot), url(../../../assets/fonts/AvenirNextLTPro-Demi.otf) url(../../../assets/fonts/AvenirNextLTPro-Demi.ttf) url(../../../assets/fonts/AvenirNextLTPro-Demi.woff) url(../../../assets/fonts/AvenirNextLTPro-Demi.woff2);
  font-family: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Regular.eot), url(../../../assets/fonts/AvenirNextLTPro-Regular.otf) url(../../../assets/fonts/AvenirNextLTPro-Regular.ttf) url(../../../assets/fonts/AvenirNextLTPro-Regular.woff) url(../../../assets/fonts/AvenirNextLTPro-Regular.woff2);
  font-family: 400;
  font-style: normal;
}
.header {
  background-color: #323232;
  width: 100%;
}
.header__nav-bar {
  width: 100%;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bar {
    flex-direction: row;
    align-items: center;
  }
}
.header__nav-bar-link {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .header__nav-bar-link {
    font-size: 1rem;
  }
}
.header__nav-bar-link--active {
  border-bottom: 5px solid #fff;
}
.header__nav-bar-list {
  text-align: center;
  width: 50%;
  height: 8vh;
  padding-top: 1rem;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar-list {
    height: 7vh;
    width: 20%;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bar-list {
    height: 7vh;
    width: 20%;
    margin-right: 3rem;
  }
}
.header__nav-bar-options {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar-options {
    width: 50%;
    padding-left: 3rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bar-options {
    width: 35%;
    padding-left: 3rem;
    justify-content: flex-start;
  }
}
.header__nav-bar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  height: 8vh;
  padding-left: 1.875rem;
}
@media screen and (min-width: 1280px) {
  .header__nav-bar-logo {
    padding-left: 9.375rem;
    height: 7.5vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar-logo {
    padding-left: 2.5rem;
    height: 7.5vh;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 0.938rem;
    font-family: "avenir", sans-serif;
    font-weight: 500;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 2.25rem;
    padding-top: 2.5rem;
    font-size: 0.938rem;
    font-family: "avenir", sans-serif;
    font-weight: 500;
    line-height: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-right: 5rem;
    padding-left: 2.15rem;
    padding-top: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 1.813rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__icon {
    display: flex;
    margin-right: 1.25rem;
    height: 1.875rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__icon {
    display: flex;
    margin-right: 1.25rem;
    height: 1.875rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon {
    display: flex;
    margin-right: 1.25rem;
    height: 1.5rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__icon-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__icon-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__detail-box {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__detail-box {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .footer__detail {
    display: flex;
    flex-direction: column;
    margin: 0.55rem 0;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__detail {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 1rem;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__detail {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 0.938rem;
    margin: 0 2rem;
  }
}
.footer__detail-pa {
  color: #e1e1e1;
}
.footer__detail-pa--seond-line {
  white-space: break-spacess;
}
.footer .padding {
  padding: 1rem 0;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    margin-top: 5.313rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    margin: 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin: 1rem;
  }
}
.footer__copy-right {
  font-size: 0.938rem;
}
@media screen and (min-width: 1280px) {
  .footer__copy-right {
    margin-left: 7rem;
    padding-bottom: 2rem;
  }
}

span {
  margin: 0.55rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  span {
    margin: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  span {
    margin: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hidden {
    visibility: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .hidden {
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .hidden1 {
    visibility: hidden;
  }
}

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "avenir", sans-serif;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../../assets/Images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../../assets/Images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
}
.hero__wrapper {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__wrapper {
    padding: 0 5rem;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    display: flex;
    padding: 0 10rem;
  }
}
.hero__title {
  color: #ffffff;
  font-size: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    color: #ffffff;
    font-size: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    color: #ffffff;
    font-size: 60px;
  }
}

.about {
  padding: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    padding: 6.25rem;
  }
}
.about__title {
  font-size: 1.438rem;
  font-family: "avenir", sans-serif;
  color: #323232;
  font-weight: 700;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__title {
    font-size: 2.188rem;
    font-family: "avenir", sans-serif;
    color: #323232;
    font-weight: 700;
    padding-top: 1.5rem;
    padding-bottom: 1.563rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 2.5rem;
    font-family: "avenir", sans-serif;
    color: #323232;
    font-weight: 600;
    padding-top: 1.25rem;
    padding-bottom: 1.563rem;
  }
}
.about__subtitle {
  font-family: "avenir", sans-serif;
  color: #323232;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 2rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__subtitle {
    font-family: "avenir", sans-serif;
    color: #323232;
    font-weight: 600;
    font-size: 1.563rem;
    margin-top: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__subtitle {
    margin: 1rem;
    font-family: "avenir", sans-serif;
    font-weight: 600;
    font-size: 1.563rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__wrapper-p {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__wrapper-p {
    display: flex;
    padding: 0 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 0.875rem;
    line-height: 2rem;
    font-family: "avenir", sans-serif;
  }
}
.about__img {
  width: 100%;
  height: 12.188rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__img {
    width: 100%;
    height: 25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    width: 100%;
    height: 34.375rem;
  }
}
.about__p {
  font-family: "avenir", sans-serif;
  font-weight: 500;
  color: #323232;
  text-align: initial;
  font-size: 0.938rem;
  line-height: 1.375rem;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__p {
    margin-right: 2rem;
    font-family: "avenir", sans-serif;
    font-weight: 500;
    color: #323232;
    text-align: initial;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__p {
    margin-right: 2rem;
    font-family: "avenir", sans-serif;
    font-weight: 500;
    color: #323232;
    text-align: initial;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.about__p-quote {
  margin: 0.938rem 0 0 0;
  overflow-wrap: break-word;
  color: #323232;
  text-align: justify;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 1.563rem;
  margin-bottom: 2.25rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__p-quote {
    margin: 0.938rem 0 0 0;
    overflow-wrap: break-word;
    color: #323232;
    text-align: justify;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 1.563rem;
    line-height: 1.875rem;
    margin-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__p-quote {
    margin: 1.875rem 0 0 0;
    overflow-wrap: break-word;
    color: #323232;
    text-align: justify;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 1.563rem;
    line-height: 1.875rem;
    margin-bottom: 2.25rem;
  }
}

.gallery {
  padding: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery {
    padding: 3.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 0 6.25rem;
  }
}
.gallery__img {
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__img {
    width: 12.5rem;
    padding-bottom: 0.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__img {
    width: 21.875rem;
    padding-bottom: 0.313rem;
  }
}
.gallery__title {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-family: "avenir", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #323232;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__title {
    padding-bottom: 1.25rem;
    font-family: "avenir", sans-serif;
    font-size: 2.813rem;
    font-weight: 700;
    color: #323232;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    padding-bottom: 1.25rem;
    font-family: "avenir", sans-serif;
    font-size: 2.813rem;
    font-weight: 700;
    color: #323232;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.625rem;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.625rem;
    width: 100%;
  }
}

.conversation {
  padding: 1rem;
  margin: 0.938rem 0;
}
.conversation__wrapper {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .conversation__wrapper {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center;
  }
}
.conversation__form-field {
  font-weight: 600;
  color: #323232;
  min-height: 2.25rem;
  width: 95%;
  background-color: #fafafa;
  margin-bottom: 1rem;
  padding: 0.625rem;
  border: 1px solid #e1e1e1;
  border-radius: 4px 4px 4px 4px;
  font-size: 0.938rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .conversation__form-field {
    font-weight: 600;
    color: #323232;
    min-height: 36px;
    width: 95%;
    background-color: #fafafa;
    margin-bottom: 1rem;
    padding: 0.625rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px 4px 4px 4px;
    font-size: 0.938rem;
  }
}
@media screen and (min-width: 1280px) {
  .conversation__form-field {
    font-weight: 600;
    color: #323232;
    min-height: 2.25rem;
    width: 95%;
    background-color: #fafafa;
    margin-bottom: 1rem;
    padding: 0.625rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px 4px 4px 4px;
    font-size: 0.938rem;
  }
}
.conversation__form-button {
  height: 2.5rem;
  width: 100%;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  background-color: #323232;
  font-size: 0.938rem;
  line-height: 1.25rem;
  font-family: "avenir-bold", sans-serif;
  font-weight: 500;
  margin: 0.938rem 0;
  margin: 0.938rem 0;
}
@media screen and (min-width: 1280px) {
  .conversation__form-button {
    height: 2.5rem;
    width: 35%;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    background-color: #323232;
    font-size: 0.938rem;
    line-height: 1.25rem;
    font-family: "avenir-bold", sans-serif;
    font-weight: 500;
    position: relative;
    left: 25rem;
    margin: 0.938rem 0;
    margin: 0.938rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .conversation__form-button {
    height: 2.5rem;
    width: 30%;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    background-color: #323232;
    font-size: 0.938rem;
    line-height: 1.25rem;
    font-family: "avenir-bold", sans-serif;
    font-weight: 500;
    position: relative;
    left: 26.5rem;
    margin: 0.938rem 0;
    margin: 0.938rem 0;
  }
}
.conversation__form-label {
  font-size: 0.75;
  font-weight: 700;
  line-height: 1.875rem;
  margin-bottom: 0.063rem;
  color: #afafaf;
}
.conversation__form-comments {
  min-height: 6.25rem;
  width: 95%;
  background-color: #fafafa;
  padding: 0.625rem;
  border: 1px solid #e1e1e1;
  font-size: 0.938rem;
  font-family: "avenir", sans-serif;
  color: #323232;
  font-weight: 600;
  border-radius: 4px 4px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .conversation__form-comments {
    min-height: 6.25rem;
    width: 95%;
    background-color: #fafafa;
    padding: 0.625rem;
    border: 1px solid #e1e1e1;
    font-size: 0.938rem;
    font-family: "avenir", sans-serif;
    color: #323232;
    font-weight: 600;
    border-radius: 4px 4px 4px 4px;
  }
}
@media screen and (min-width: 1280px) {
  .conversation__form-comments {
    min-height: 6.25rem;
    width: 95%;
    background-color: #fafafa;
    padding: 0.625rem;
    border: 1px solid #e1e1e1;
    font-size: 0.938rem;
    font-family: "avenir", sans-serif;
    color: #323232;
    font-weight: 600;
    border-radius: 4px 4px 4px 4px;
  }
}
.conversation__title {
  margin-bottom: 1rem;
  font-family: "avenir", sans-serif;
  font-weight: 700;
  color: #323232;
  font-size: 1.563rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .conversation__title {
    margin-bottom: 1.25rem;
    font-family: "avenir", sans-serif;
    font-weight: 700;
    color: #323232;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .conversation__title {
    margin-bottom: 2.5rem;
    margin-left: 6.25rem;
    font-family: "avenir", sans-serif;
    font-weight: 700;
    color: #323232;
    font-size: 2.5rem;
  }
}

.comments__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .comments__wrapper {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 8rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20rem;
  }
}

.comment {
  border-top: 1px solid #afafaf;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.comment__header {
  display: flex;
  align-items: center;
}
.comment__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.438rem;
  list-style: none;
  width: 100%;
}
.comment__li {
  margin-right: 3.5rem;
  color: #323232;
  font-weight: 600;
}
.comment__li--date {
  color: #afafaf;
  font-weight: 500;
}
.comment__p {
  display: flex;
  margin-left: 4rem;
  font-weight: 500;
  line-height: 1.375rem;
}
@media screen and (max-width: 767px) {
  .comment__p {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .comment__p {
    max-width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comment__p {
    max-width: 100%;
  }
}

.space {
  left: 0.313rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .avatar {
    width: 3.125rem;
    height: 3.125rem;
    background-position: center;
    background-size: cover;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    border-radius: 50%;
  }
}

.avatar1 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .avatar1 {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
  }
}

.cite {
  font-size: 0.938rem;
}/*# sourceMappingURL=bio.css.map */