/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: "avenir-bold";
  src: url(../../../assets/fonts/AvenirNextLTPro-Bold.eot), url(../../../assets/fonts/AvenirNextLTPro-Bold.otf) url(../../../assets/fonts/AvenirNextLTPro-Bold.ttf) url(../../../assets/fonts/AvenirNextLTPro-Bold.woff) url(../../../assets/fonts/AvenirNextLTPro-Bold.woff2);
  font-family: 700;
  font-style: normal;
}
@font-face {
  font-family: "avenir-demi";
  src: url(../../../assets/fonts/AvenirNextLTPro-Demi.eot), url(../../../assets/fonts/AvenirNextLTPro-Demi.otf) url(../../../assets/fonts/AvenirNextLTPro-Demi.ttf) url(../../../assets/fonts/AvenirNextLTPro-Demi.woff) url(../../../assets/fonts/AvenirNextLTPro-Demi.woff2);
  font-family: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir-regular";
  src: url(../../../assets/fonts/AvenirNextLTPro-Regular.eot), url(../../../assets/fonts/AvenirNextLTPro-Regular.otf) url(../../../assets/fonts/AvenirNextLTPro-Regular.ttf) url(../../../assets/fonts/AvenirNextLTPro-Regular.woff) url(../../../assets/fonts/AvenirNextLTPro-Regular.woff2);
  font-family: 400;
  font-style: normal;
}
.header__nav-bar {
  display: flex;
  align-items: center;
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__nav-bar {
    flex-direction: column;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__nav-bar--options {
    display: flex;
    width: 20rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar--options {
    display: flex;
    width: 20rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bar--options {
    display: flex;
    width: 20rem;
  }
}
.header__nav-bar--logo {
  height: 20px;
  width: 120px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar--logo {
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bar--logo {
    margin-left: 4rem;
  }
}
.header__nav-bar--list {
  list-style: none;
  padding: 8px;
  width: 10rem;
  text-align: center;
}
.header__nav-bar--link {
  text-decoration: none;
  color: #afafaf;
}
.header__hero--title {
  display: flex;
  position: absolute;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__hero--title {
    top: 13rem;
    font-size: 30px;
    line-height: 32px;
    left: 2rem;
    font-family: "avenir-bold", sans-serif;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__hero--title {
    top: 40rem;
    font-size: 60px;
    left: 2rem;
    font-family: "avenir-bold", sans-serif;
  }
}
@media screen and (min-width: 1280px) {
  .header__hero--title {
    top: 30rem;
    font-size: 60px;
    left: 2rem;
    font-family: "avenir-bold", sans-serif;
  }
}
.header__hero--img {
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content__about {
  padding: 16px;
}
.main-content__about--p {
  font-size: 24px;
  margin: 16px;
  line-height: 32px;
  font-size: "avenir-regular", san-serif;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-content__about--p {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    font-size: 15px;
    margin: 16px;
    line-height: 20px;
    font-size: "avenir-demi", san-serif;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-content__about--title {
    padding-top: 24px;
    font-size: 24px;
    line-height: 32px;
    font-family: "avenir-bold", sans-serif;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-content__about--title {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
    font-family: "avenir-bold", sans-serif;
  }
}
@media screen and (min-width: 1280px) {
  .main-content__about--title {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 36px;
    line-height: 44px;
    font-family: "avenir-demi", sans-serif;
  }
}
.main-content__about--gallery {
  flex-wrap: wrap;
}
.main-content__about--main-img {
  width: 270px;
  padding: 16px;
}
.main-content__about--img {
  width: 500px;
  padding: 16px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-content__about--img {
    width: 250px;
    padding: 16px;
  }
}/*# sourceMappingURL=bio.css.map */