@font-face {
  font-family: "avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Bold.eot), url(../../../assets/fonts/AvenirNextLTPro-Bold.otf) url(../../../assets/fonts/AvenirNextLTPro-Bold.ttf) url(../../../assets/fonts/AvenirNextLTPro-Bold.woff) url(../../../assets/fonts/AvenirNextLTPro-Bold.woff2);
  font-family: 700;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Demi.eot), url(../../../assets/fonts/AvenirNextLTPro-Demi.otf) url(../../../assets/fonts/AvenirNextLTPro-Demi.ttf) url(../../../assets/fonts/AvenirNextLTPro-Demi.woff) url(../../../assets/fonts/AvenirNextLTPro-Demi.woff2);
  font-family: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url(../../../assets/fonts/AvenirNextLTPro-Regular.eot), url(../../../assets/fonts/AvenirNextLTPro-Regular.otf) url(../../../assets/fonts/AvenirNextLTPro-Regular.ttf) url(../../../assets/fonts/AvenirNextLTPro-Regular.woff) url(../../../assets/fonts/AvenirNextLTPro-Regular.woff2);
  font-family: 400;
  font-style: normal;
}
/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "avenir", sans-serif;
  font-weight: 400;
}

.header {
  background-color: #323232;
  width: 100%;
}
.header__nav-bar {
  width: 100%;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bar {
    flex-direction: row;
    align-items: center;
  }
}
.header__nav-bar-link {
  text-decoration: none;
  color: #ffffff;
}
.header__nav-bar-link--active {
  border-bottom: 5px solid #fff;
}
.header__nav-bar-list {
  text-align: center;
  width: 50%;
  height: 8vh;
  padding-top: 1rem;
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar-list {
    height: 10vh;
    width: 20%;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bar-list {
    height: 7vh;
    width: 20%;
    margin-right: 3rem;
  }
}
.header__nav-bar-options {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-bar-options {
    width: 50%;
    padding-left: 3rem;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bar-options {
    width: 35%;
    padding-left: 3rem;
    justify-content: flex-start;
  }
}
.header__nav-bar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8vh;
  padding-left: 30px;
}
@media screen and (min-width: 1280px) {
  .header__nav-bar-logo {
    padding-left: 150px;
    height: 5vh;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 16px;
    padding-top: 40px;
    font-size: 15px;
    font-family: "avenir", sans-serif;
    font-weight: 500;
    line-height: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 36px;
    padding-top: 40px;
    font-size: 15px;
    font-family: "avenir", sans-serif;
    font-weight: 500;
    line-height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 36px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .footer__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__header {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .footer__icon {
    display: flex;
    margin-right: 20px;
    height: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__icon {
    display: flex;
    margin-right: 20px;
    height: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon {
    display: flex;
    margin-right: 20px;
    height: 30px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .footer__icon-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__icon-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__detail-box {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__detail-box {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .footer__detail {
    display: flex;
    flex-direction: column;
    margin: 0.55 0;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__detail {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__detail {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 15px;
  }
}
.footer__detail-pa {
  color: #e1e1e1;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    margin-top: 85px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    margin: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin: 0px;
  }
}
.footer__copy-right {
  font-size: 15px;
}

span {
  margin: 0.55rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  span {
    margin: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  span {
    margin: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hidden {
    visibility: hidden;
  }
}
@media screen and (min-width: 1280px) {
  .hidden {
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .hidden1 {
    visibility: hidden;
  }
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../../assets/Images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../../assets/Images/hero-shows.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../../assets/Images/hero-shows.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
}
.hero__wrapper {
  padding: 3rem 1.5rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__wrapper {
    padding: 3rem 1.5rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    padding: 10rem 8rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
  }
}
.hero__title {
  color: #ffffff;
  font-size: 1.875rem;
  padding: 1.5rem 0;
  line-height: 2.5rem;
  font-weight: 600;
  width: 75%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    color: #ffffff;
    font-size: 3.125rem;
    padding: 2rem 0;
    line-height: 70px;
    font-weight: 600;
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin: 2rem 0;
    color: #ffffff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    width: 100%;
  }
}
.hero__title-p {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  white-space: pre-line;
}

@media screen and (min-width: 1280px) {
  .shows__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows {
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding: 30px;
  }
}
.shows__title {
  font-family: "avenir", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin: 2rem 0;
  padding: 0 16px;
}
.shows__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-bottom: 3px solid #e1e1e1;
  margin: 1rem 0;
  padding: 0 16px;
}
.shows__list:hover {
  background-color: #fafafa;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    border-bottom: 3px solid #e1e1e1;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    border-bottom: 3px solid #afafaf;
    font-size: 14px;
    padding: 24px 28px;
  }
}
.shows__list-title {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 55%;
  margin-left: 1rem;
}
@media screen and (min-width: 1280px) {
  .shows__list-title {
    width: 50%;
    margin-left: 5rem;
  }
}
.shows__item {
  margin: 1rem 0;
  font-weight: 700;
  width: 55;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__item {
    margin: 3rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__item {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__item {
    font-size: 14px;
  }
}
.shows__item-title {
  color: #afafaf;
  font-size: 0.85rem;
}
.shows__button {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  background-color: #323232;
  font-size: 15px;
  line-height: 20px;
  font-family: "avenir-bold", sans-serif;
  font-weight: 500;
  height: 45px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__button {
    height: 40px;
    width: 25%;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    background-color: #323232;
    font-size: 20px;
    line-height: 20px;
    font-family: "avenir-bold", sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button {
    height: 40px;
    width: 20%;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    background-color: #323232;
    font-size: 15px;
    line-height: 20px;
    font-family: "avenir-bold", sans-serif;
    font-weight: 500;
    margin-left: 1rem;
  }
}

.iframe {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .iframe {
    margin-top: 1rem;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .phone-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hidden {
    display: none;
  }
}

.active:active {
  background-color: #e1e1e1;
  cursor: pointer;
}

.date {
  font-weight: 700;
}

.hero-box {
  width: 100%;
}/*# sourceMappingURL=shows.css.map */