@use "./partials/global";
@use "./partials/utilities/var" as *;
@use "./partials/utilities/mixin" as *;
@use "./partials/components/nav";
@use "./partials/components/footer";

.hero {
  @include hero("../../../assets/Images/hero-shows.jpg", 80vh, 100%);

  @include tablet {
    @include hero("../../../assets/Images/hero-shows.jpg", 100vh, 100%);
  }
  @include desktop {
    @include hero("../../../assets/Images/hero-shows.jpg", 100vh, 100%);
  }
  &__wrapper {
    padding: 3rem 1.5rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include tablet {
      padding: 3rem 1.5rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    @include desktop {
      padding: 10rem 8rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: row;
    }
  }

  &__title {
    color: $white;
    font-size: 30px;
    padding: 1.5rem 0;
    line-height: 40px;
    font-weight: 600;
    width: 75%;

    @include tablet {
      color: $white;
      font-size: 50px;
      padding: 2rem 0;
      line-height: 70px;
      font-weight: 600;
      width: 70%;
    }
    @include desktop {
      margin: 2rem 0;
      color: $white;
      font-size: 60px;
      line-height: 70px;
      font-weight: 600;
      width: 100%;
    }
    &--p {
      color: $white;
      font-weight: 500;
      font-size: 18px;
      white-space: pre-line;
    }
  }
}

.shows {
  // padding: 16px;
  &__wrapper {
    @include desktop {
      display: flex;
      flex-direction: column;

      margin-left: 280px;
    }
  }

  @include tablet {
    padding: 30px;
  }
  @include desktop {
    padding: 30px;
  }

  &__title {
    font-family: "avenir", sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 2rem 0;
    padding: 0 16px;
  }

  &__list {
    &:hover {
      background-color: $weird-white;
    }
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 3px solid $mercury;
    margin: 1rem 0;
    padding: 0 16px;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      border-bottom: 3px solid $mercury;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      border-bottom: 3px solid $silver;
      font-size: 14px;
      padding: 24px 28px;
    }

    &--title {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
      width: 55%;
      margin-left: 1rem;
      @include desktop {
        width: 50%;
        margin-left: 5rem;
      }
    }
  }

  &__item {
    margin: 1rem 0;
    font-weight: 700;
    width: 55;
    @include tablet {
      margin: 3rem 0;
    }
    @include desktop {
      margin-right: 1rem;
    }
    @include desktop {
      font-size: 14px;
    }
    &--title {
      color: $silver;
      font-size: 0.85rem;
    }
  }

  &__button {
    @include button(15px, 100%);
    height: 45px;
    @include tablet {
      @include button(20px, 25%);
      margin-left: 1rem;
      height: 44px;
    }
    @include desktop {
      @include button(15px, 20%);
      margin-left: 1rem;
    }
  }
}

.iframe {
  width: 100%;
  @include tablet {
    margin-top: 1rem;
    width: 50%;
  }
}

.phone-hidden {
  @include mobile {
    display: none;
  }
}

.hidden {
  @include tablet {
    display: none;
  }
}

.active:active {
  background-color: $mercury;
  cursor: pointer;
}

.date {
  font-weight: 700;
}

.hero-box {
  width: 100%;
}
