@use "./partials/global";
@use "./partials/utilities/var" as *;
@use "./partials/utilities/mixin" as *;
@use "./partials/components/nav";
@use "./partials/components/footer";

.hero {
  @include hero("../../../assets/Images/hero-shows.jpg", 100vh, 100%);

  @include tablet {
    @include hero("../../../assets/Images/hero-shows.jpg", 100vh, 100%);
  }
  @include desktop {
    @include hero("../../../assets/Images/hero-shows.jpg", 100vh, 100%);
  }
  &__wrapper {
    padding: 3rem 4rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include tablet {
      padding: 3rem 5rem;
      height: 100%;
    }
    @include desktop {
      padding: 10rem 10rem;
      height: 100%;
    }
  }

  &__title {
    color: $white;
    font-size: 24px;
    padding: 1rem 0;

    @include tablet {
      color: $white;
      font-size: 50px;
    }
    @include desktop {
      margin: 2rem 0;
      color: $white;
      font-size: 60px;
    }
    &--p {
      color: $white;
    }
  }
}

.shows {
  padding: 34px;
  &__wrapper {
    @include desktop {
      display: flex;
      flex-direction: column;

      margin-left: 280px;
    }
  }

  @include tablet {
    padding: 30px;
  }
  @include desktop {
    padding: 30px;
  }

  &__title {
    font-family: $font-demi;
    font-family: 700;
    font-size: 28px;
    margin: 2rem 0;
    padding: 0 16px;
  }

  &__list {
    &:hover {
      background-color: $weird-white;
    }
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 3px solid $silver;
    // margin: 1rem 0;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      border-bottom: 3px solid $silver;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      border-bottom: 3px solid $silver;
      font-size: 14px;
      padding: 24px 88px;
    }

    &--title {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
      width: 60%;
      margin-left: 1rem;
      @include desktop {
        width: 50%;
        margin-left: 4rem;
      }
    }
  }

  &__item {
    margin: 1rem 0;
    @include tablet {
      margin-right: 1rem;
    }
    @include desktop {
      margin-right: 1rem;
    }
    &--title {
      color: $silver;
      font-size: 0.85rem;
    }
  }

  &__button {
    @include button(15px, 90%);
    // margin-bottom: 1rem;
    @include tablet {
      @include button(15px, 20%);
      margin-left: 1rem;
    }
    @include desktop {
      @include button(15px, 20%);
      margin-left: 1rem;
    }
  }
}

.iframe {
  width: 100%;
}

.phone-hidden {
  @include mobile {
    display: none;
  }
}

.hidden {
  @include tablet {
    display: none;
  }
}

.active:active {
  background-color: $mercury;
  cursor: pointer;
}
