@use "./partials/global";
@use "./partials/utilities/var" as *;
@use "./partials/utilities/mixin" as *;
@use "./partials/utilities/font" as *;

.hero {
  @include hero("../../../assets/Images/hero-shows.jpg", 70vh, 100%);

  @include tablet {
    @include hero("../../../assets/Images/hero-shows.jpg", 100vh, 100%);
  }
  @include desktop {
    @include hero("../../../assets/Images/hero-shows.jpg", 100vh, 100%);
  }
  &__wrapper {
    padding: 3rem 1.5rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include tablet {
      padding: 3rem 1.5rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    @include desktop {
      padding: 10rem 8rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: row;
    }
  }

  &__title {
    color: $white;
    font-size: 1.875rem;
    padding: 2.5rem 0;
    line-height: 2.5rem;
    font-weight: 600;
    width: 75%;

    @include tablet {
      color: $white;
      font-size: 3.125rem;
      padding: 2rem 0;
      line-height: 4.375rem;
      font-weight: 600;
      width: 70%;
    }
    @include desktop {
      margin: 2rem 0;
      color: $white;
      font-size: 3.75rem;
      line-height: 4.375rem;
      font-weight: 600;
      width: 100%;
    }
  }
  &__title-p {
    color: $white;
    font-weight: 500;
    font-size: 1.125rem;
    white-space: pre-line;
  }
}

.shows {
  // padding: 16px;
  &__wrapper {
    @include desktop {
      display: flex;
      flex-direction: column;

      margin-left: 17.5rem;
    }
  }

  @include tablet {
    padding: 1.875rem;
  }
  @include desktop {
    padding: 1.875rem;
  }

  &__title {
    font-family: "avenir", sans-serif;
    font-weight: 700;
    font-size: 2.188rem;
    margin: 2rem 0;
    padding: 0 1rem;
  }

  &__list {
    &:hover {
      background-color: $weird-white;
    }
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 3px solid $mercury;
    margin: 1rem 0;
    padding: 0 1rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      border-bottom: 3px solid $mercury;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      border-bottom: 3px solid $silver;
      font-size: 0.875rem;
      padding: 1.5rem 1.75rem;
    }
  }
  &__list-title {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 55%;
    margin-left: 1rem;
    @include desktop {
      width: 50%;
      margin-left: 5rem;
    }
  }

  &__item {
    margin: 1rem 0;
    font-weight: 700;
    width: 55;
    @include tablet {
      margin: 3rem 0;
    }
    @include desktop {
      margin-right: 1rem;
    }
    @include desktop {
      font-size: 0.875rem;
    }
  }

  &__item-title {
    color: $silver;
    font-size: 0.85rem;
  }

  &__button {
    @include button(0.938rem, 100%);
    height: 2.813rem;
    @include tablet {
      @include button(1.25rem, 25%);
      margin-left: 1rem;
      height: 2.75rem;
    }
    @include desktop {
      @include button(0.938rem, 20%);
      margin-left: 1rem;
    }
  }
}

.iframe {
  width: 100%;
  @include tablet {
    margin-top: 1rem;
    width: 50%;
  }
}

.phone-hidden {
  @include mobile {
    display: none;
  }
}

.hidden {
  @include tablet {
    display: none;
  }
}

.active:active {
  background-color: $mercury;
  cursor: pointer;
}

.date {
  font-weight: 700;
}

.hero-box {
  width: 100%;
}
